%footer#contact.footer.text-center.bg-light
  .container
    %h3.color-title Contact
    %h2 お問い合わせ・SNS
    .h5
      メールまたはツイッターDMでご連絡ください。
    %ul.footer-list
      / mail
      %li.footer-list-inline
        %a.social-link{href: "messages#index", :target => "”_blank”"}
          %i.far.fa-envelope
      / twitter
      %li.footer-list-inline
        %a.social-link{href: "https://twitter.com/m1_h74", :target => "”_blank”"}
          %i.fab.fa-twitter
      / git hub
      %li.footer-list-inline
        %a.social-link{href: "https://github.com/tonnkatubooy", :target => "”_blank”"}
          %i.fab.fa-github
    %p.text-muted Copyright © ISEYA SHOTA portfolio 2020
%a.scroll-to-top.rounded.js-scroll-trigger{href: "#page-top", style: "display: none;"}
  %i.fas.fa-angle-up