.menu{:role => "navigation"}
  %ul.menu_all.menu_1
    %li
      %a.link_fa.js-scroll-trigger{href: "#about"} ABOUT
    %li
      %a.link_fade.js-scroll-trigger{href: "#services"} SKILL
    %li
      %a.link_fade.js-scroll-trigger{href: "#portfolio"} PORTFOLIO
    %li
      %a#btn_contact.link_fadejs-scroll-trigger{href: "#contact"} CONTACT
.header
  .header_main
    %h1.header_main_title Iseya Shota 
    %h3.header_main_title_sub
      %em Portfolio
    %a.btn.btn_primary.js-scroll-trigger{href: "#about"} Who's ME?
  .overlay
%section#about.content-section.bg-light.text-secondary

